<div class="infobox">
  {% if page.profile_image %}
  <div style="text-align:center; background:transparent; border:none;">
    <img src="{{ page.profile_image | relative_url }}" alt="Foto de perfil" style="max-width:180px;max-height:220px;border-radius:6px;margin:8px auto;display:block;">
  </div>
{% endif %}
  {% if page.infobox %}
    <div class="infobox-title">{{ site.title }}</div>
    {% for item in page.infobox %}
      {% if item[0] == "Offices" %}
        <div class="infobox-row">
          <div class="infobox-label">{{ item[0] }}</div>
          <div class="infobox-value">
            <ul>
              {% for office in item[1] %}
                <li>
                  <strong>{{ office.title }}</strong><br>
                  In office: {{ office.in_office }}<br>
                  {% if office.Vice %}Vice: {{ office.Vice }}<br>{% endif %}
                  {% if office.Preceded_by %}Preceded by: {{ office.Preceded_by }}<br>{% endif %}
                  {% if office.Succeeded_by %}Succeeded by: {{ office.Succeeded_by }}<br>{% endif %}
                  {% if office.Constituency %}Constituency: {{ office.Constituency }}<br>{% endif %}
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% else %}
        <div class="infobox-row">
          <div class="infobox-label">{{ item[0] }}:</div>
          <div class="infobox-value">{{ item[1] }}</div>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}
</div>