<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | Fábio Soares Ribeiro</title>
  <link rel="stylesheet" href="{{ '/assets/css/wikipedia-style.css' | relative_url }}">
  <link rel="icon" href="/assets/img/logo.png">
</head>
<body>
  {% include header.html %}
  <div class="wrapper">
    <main>
      {{ content }}
    </main>
    <aside class="sidebar">
      {% include infobox.html %}
    </aside>
  </div>
  {% include footer.html %}
</body>
</html>
